* {
	font-family: arial, helvetica, sans-serif;
}

body {
	position: absolute;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	background: #292e30;
	background-repeat: no-repeat;
	background-size: cover;
	color: #e3e3e3;
}

@font-face {
	font-family: "kenyan";
	src: url("../fonts/kenyan.ttf");
  }

h1 {
	font-family: "kenyan";
	margin: 2.5rem 0 0 0;
	letter-spacing: 5px;
	text-align: center;
	font-size: 6rem;
    color: #e3e3e3;
    text-transform: uppercase;
}

#previo {
	margin: auto auto 0 auto;
	width: 75px;
}

.acomodador {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

#obtenereExamen, #validarOperacion {
	background-color: #103875;
	padding: 1rem;
	border-radius: 1rem;
	cursor: pointer;
	box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.75);
	transition: all 0.5s;
	text-align: center;
	width: 20rem;
	margin: auto;
}

#validarOperacion {
	margin-bottom: 2rem !important;
}

#obtenereExamen:hover, #validarOperacion:hover {
	background-color: #002050;
}

#respuestasObtenidas {
	width: 90%;
	margin: auto;
	padding: 3rem 2px 0 2px;
	height: 70%;
	display: flex;
	flex-direction: column;
	box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.75);
	overflow-y: scroll;
}

.pregunta {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 2rem;
}

.numeroPregunta {
	padding-top: 1rem;
	font-size: 2rem;
}

.inciso {
	font-size: 2rem;
	border: 2px solid white;
	padding: 0.5rem;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-weight: bold;
	align-items: center;
	vertical-align: middle;
	text-align: center;
}

.contestada {
	background-color: white;
	color: white;
}

#cont {
	margin: auto;
	padding: 3rem 2px 0 2px;
	border: 2px dashed #31353b;
	text-align: center;
	align-items: center;
    width: 90%;
	height: 70vh;
	margin-left: 4vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.75);
}

main {
	width: 96vw;
	height: 100vh;
	margin: auto;
	transition: all 1s;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-left: 2px solid #343c3f;
	background-color: #1b1f25;
}

.contScan {
	padding: 0.5rem;
	border: 2px dashed #31353b;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30%;
}

#contenedor_escan {
	margin: auto;
	width: 50%;
	border-right: 2px dashed #31353b;
}

#contenedor_columnas {
	width: 50%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

#contenedor_columnas select {
	margin: auto;
	background-color: #1b1f25;
	border: 2px solid #118af7;
	border-radius: 10px;
	font-weight: bolder;
	color: #118af7;
	width: 5rem;
}

#agregar_imagen {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	background-color: #118af7;
	cursor: pointer;
	border-radius: 25px;
}

#holder {
	border: 2px dashed #31353b;
	padding: 2rem;
}

.contArriba {
	display: flex;
	justify-content: space-around;
}

#nombre_examen {
	text-align: center;
	width: 90%;
	color: white;
	background-color: #1b1f25;
	border: 2px solid #118af7;
	padding: 0.5rem 0.25rem;
	border-radius: 25px;
}