* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

#spam a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

body {
    margin: 0;
    box-sizing: border-box;
    background: #292e30;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

#titular {
    text-align: center;
    margin: auto;
    width: 60vw;
    height: 30vh;
    padding-top: 1rem;
    background-image: url(../images/Logo2.png);
    background-position: center;
    background-size: cover;
}

#titular h2 {
    color: #ffffff;
    text-transform: uppercase;
}

#contTitular {
    display: flex;
    justify-content: space-between;
}

#spam {
    margin: auto 0;
    text-align: center;
    width: 100%;
    color: white;
}

#render {
    width: 12rem;
    padding-left: 2rem;
}

#menu {
    padding: 2rem;
    border-radius: 2rem;
}

#menu h3 {
    color: #fefcff;
    text-align: center;
}

#menu #submenu {
    display: flex;
    justify-content: space-around;
}

#menu #submenu .contSubmenu {
    text-align: center;
    margin: 1rem 0;
    width: 17.5%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 2px solid #343c3f;
    transition: border 0.75s;
    box-shadow: 2px 7px 20px -4px rgba(30,34,35,1);
}

#menu #submenu .contSubmenu:hover {
    border: 2px solid #118af7;
}

#menu #submenu .contSubmenu:hover > a {
    background-color: #118af7;
}

#menu #submenu .contSubmenu:hover > .icono {
    color: #118af7;
}

.contSubmenu a {
    color: #1b1f25;
    background-color: #fefcff;
    padding: 0.5rem;
    border-radius: 1em;
    cursor: pointer;
    width: 60%;
    margin: auto;
    transition: background 0.75s;
}

.icono {
    margin: auto;
    font-size: 7.5rem;
    width: 7.5rem;
    height: 7.5rem;
    cursor: pointer;
    transition: color 0.75s;
    margin-bottom: 2rem;
}

section {
    width: 96vw;
    padding-top: 2rem;
    background-color: #1b1f25;
    z-index: 1;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-left: 2px solid #343c3f;
}

