:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 3%;
    height: 100%;
    background-color: #292929;
}

.navbar-items {
    margin: auto;
    margin-top: 1.5vh;
    height: 97%;
    width: 90%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.navbar-link {
    width: 100%;
    margin: auto;
    text-decoration: none;
    color: #696969;
    font-size: 2.5rem;
    transition: color 0.7s;
    text-align: center;
    padding-bottom: 5px;
    position: relative;
}

.navbar-link::after {
    content: "";
	position: absolute;
	height: 2px;
	background-color: #82b0e4;
	width: 0;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
  	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.navbar-link:hover {
    color: #82b0e4;
}

.navbar-link:hover::after {
    width: 100%;
}

@font-face {
    font-family: 'fontello';
    src: url('../fonts/font/fontello.eot?50788721');
    src: url('../fonts/font/fontello.eot?50788721#iefix') format('embedded-opentype'),
         url('../fonts/font/fontello.woff?50788721') format('woff'),
         url('../fonts/font/fontello.ttf?50788721') format('truetype'),
         url('../fonts/font/fontello.svg?50788721#fontello') format('svg');
}

.demo-icon {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      display: inline-block;
      text-decoration: inherit;
      width: 100%;
      text-align: center;
}