/* --- --- --- --- --- NeoBar --- --- --- --- --- */
@font-face {
    font-family: 'fontello';
    src: url('../fonts/font/fontello.eot?50788721');
    src: url('../fonts/font/fontello.eot?50788721#iefix') format('embedded-opentype'),
         url('../fonts/font/fontello.woff?50788721') format('woff'),
         url('../fonts/font/fontello.ttf?50788721') format('truetype'),
         url('../fonts/font/fontello.svg?50788721#fontello') format('svg');
}

::-webkit-scrollbar {
    display: none;
}

:root {
    font-size: 16px !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.demo-icon {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      display: inline-block;
      text-decoration: inherit;
      width: 100%;
      text-align: center;
}

#neobar {
    width: 4vw;
    height: 100vh;
    background-color: #292e30;
    display: flex;
    justify-content: flex-start;
    z-index: 0;
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#neobar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 3rem;
}

#neobar ul li {
    height: 3rem;
    padding-top: 0.5rem;
    text-align: center;
    width: 4vw;
    cursor: pointer;
    position: relative;
    -webkit-app-region: no-drag;
}

#neobar ul li::after {
    content: "";
    position: absolute;
    border-left: 2px solid #118af7;
    bottom: 0;
    right: 0;
    top: 100%;
    transition: all 0.75s;
}

#neobar ul li:hover::after{
    top: 0;
}

#neobar ul li:hover {
    background-color: #28333c;
}

#neobar ul li:hover > a {
    color: #118af7;
}

#neobar ul li a {
    text-decoration: none;
    color: #a2a4a5;
    font-size: 2rem;
}

#logo_principal {
    width: 100%;
    height: 3rem;
    padding-top: 1rem;
    border-bottom: 2px solid #343c3f;
    text-align: center;
    -webkit-app-region: no-drag;
}

#logo_principal img {
    cursor: pointer;
    width: 2rem;
    margin: auto;
}

.en_curso {
    background-color: #28333c !important;
}

.en_curso a {
    color: #118af7 !important;
}

/* Controles de ventana */
.win_controls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    width: 7vw;
    justify-content: space-around;
    padding: 0.5rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 25px;
}

.win_controls i {
    width: 30%;
    cursor: pointer;
}

.win_controls i:hover {
    color: #118af7;
}

/* Loader */
#loader {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2d3136;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    transition: opacity .25s ease-in-out;
}

.progreso-main {
    border-top: 5px solid #7e57c2;
    width: 330px;
    height: 330px;
    margin: auto;
    margin-top: 30vh;
    border-radius: 50%;
    animation: rotacion-main 10s ease-in-out infinite;
}

.progreso {
    width: 280px;
    height: 280px;
    margin: auto;
    margin-top: 15px;
    border-radius: 50%;
    border-bottom: 5px solid #5eb2f6;
    animation: rotacion 10s ease-in-out infinite;
    position: relative;
}

@keyframes rotacion {
    0% { transform: rotate(0deg);}
    50% {border-color: #7e57c2;}
    100% { transform: rotate(720deg);
        border-color: #5eb2f6;
    }
}

@keyframes rotacion-main {
    0% {transform: rotate(0deg);}
    50% { border-color: #5eb2f6;}
    100% { transform: rotate(1080deg); 
        border-color: #7e57c2;
    }
}

@keyframes parpadeo {
    0% {opacity: 1;}
    25% {opacity: 0.5;}
    50% {opacity: 1;}
    75% {opacity: 0.5;}
    100% {opacity: 1;}
}

#fijo {
    position: absolute;
    top: 35vh;
    left: 43.7vw;
    animation: parpadeo 10s ease-in-out infinite;
}

#texto-loader {
    font-size: 1.5rem;
    text-align: center;
}
