/* --- --- --- --- --- NeoBar --- --- --- --- --- */
@font-face {
    font-family: 'fontello';
    src: url('../fonts/font/fontello.eot?50788721');
    src: url('../fonts/font/fontello.eot?50788721#iefix') format('embedded-opentype'),
         url('../fonts/font/fontello.woff?50788721') format('woff'),
         url('../fonts/font/fontello.ttf?50788721') format('truetype'),
         url('../fonts/font/fontello.svg?50788721#fontello') format('svg');
}

::-webkit-scrollbar {
    display: none;
}

.demo-icon {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      display: inline-block;
      text-decoration: inherit;
      width: 100%;
      text-align: center;
}

#neobar {
    width: 4vw;
    height: 100vh;
    background-color: #292e30;
    display: flex;
    justify-content: flex-start;
    z-index: 0;
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#neobar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 3rem;
}

#neobar ul li {
    height: 3rem;
    padding-top: 0.5rem;
    text-align: center;
    width: 4vw;
    cursor: pointer;
    position: relative;
    -webkit-app-region: no-drag;
}

#neobar ul li::after {
    content: "";
    position: absolute;
    border-left: 2px solid #118af7;
    bottom: 0;
    right: 0;
    top: 100%;
    transition: all 0.75s;
}

#neobar ul li:hover::after{
    top: 0;
}

#neobar ul li:hover {
    background-color: #28333c;
}

#neobar ul li:hover > a {
    color: #118af7;
}

#neobar ul li a {
    text-decoration: none;
    color: #a2a4a5;
    font-size: 2rem;
}

#logo_principal {
    width: 100%;
    height: 3rem;
    padding-top: 1rem;
    border-bottom: 2px solid #343c3f;
    text-align: center;
    -webkit-app-region: no-drag;
}

#logo_principal img {
    cursor: pointer;
    width: 2rem;
    margin: auto;
}

.en_curso {
    background-color: #28333c !important;
}

.en_curso a {
    color: #118af7 !important;
}

/* Controles de ventana */
.win_controls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    width: 7vw;
    justify-content: space-around;
    padding: 0.5rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 25px;
}

.win_controls i {
    width: 30%;
    cursor: pointer;
}

.win_controls i:hover {
    color: #118af7;
}