* {
	font-family: arial, helvetica, sans-serif;
}

body {
	margin: 0;
	box-sizing: border-box;
	position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
	background: #292e30;
	background-repeat: no-repeat;
	background-size: cover;
	color: #e3e3e3;
	width: 100vw;

}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf');
}

h1 {
	font-family: "Oswald";
	margin: 0;
	letter-spacing: 5px;
	text-align: center;
	font-size: 6rem;
	color: #e3e3e3;
	margin-top: 5rem;
}

.contenedor {
	text-align: center;
	border-radius: 15px;
	display: flex;
	justify-content: space-around;
}

#holder {
	margin: auto;
	padding: 3rem 2px 3rem 2px;
	border: 2px dashed white;
	text-align: center;
	align-items: center;
	width: 90%;
	display: flex;
	flex-direction: column;
}

.dragDrop {
	display: flex;
	flex-direction: column;
	height: 50vh;
	justify-content: flex-start;
	background-color: #2d3136;
	padding-top: 5vh;
	border-radius: 15px;
	width: 25vw;
	color: white;
}

#controles {
	width: 90%;
	margin: 15px auto;
	color: #e3e3e3;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}

#calcular, #limpiar {
	border-radius: 25px;
	transition: all 0.5s;
	box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.75);
	padding: 10px 0;
	width: 150px;
	background-color: #118af7;
}

#calcular:hover, #limpiar:hover {
	box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.25);
}

#resultado {
	background-color: #2d3136;
	height: 52.5vh;
	border-radius: 25px;
	width: 60%;
	padding: 1rem 2rem;
	text-align: left;
	text-transform: uppercase;
}

#resultado p {
	font-weight: bold;
	font-size: 1rem;
	padding: 10px 0;
	margin: 25px 0;
	border-bottom: 3px dotted #82b0e4;
}

.aprobado {
	color: #82e48a !important;
}

.reprobado {
	color: red !important;
}

#previo {
	margin-top: 5px;
	width: 75px;
}

/* Validar examen */
#validarExamen {
	width: 85%;
	margin: auto;
	background-color: #1b1f25;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
	padding: 10px 1rem;
	transition: all 0.5s;
}

#idExamen {
	background-color: #31353b;
	color: #e3e3e3;
	border: 0;
	border-radius: 5px;
	padding: 5px 15px;
	height: 15px;
}

#obtenerExamen {
	background-color: #31353b;
	color: #e3e3e3;
	border-radius: 5px;
	padding: 5px 15px;
	font-size: 12px;
	height: 15px;
	cursor: pointer;
}

.validado {
	box-shadow: 0px 0px 12px green;
}

.noValidado {
	box-shadow: 0px 0px 12px red;
}

#return {
	width: 50px;
	position: absolute;
}

#main {
	width: 96vw;
	height: 100vh;
	margin: auto;
	transition: all 1s;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-left: 2px solid #343c3f;
	background-color: #1b1f25;
}

#agregar_imagen {
	margin-top: 1rem;
	color: white;
	padding: 0.5rem 1rem;
	background-color: #1b1f25;
	border-radius: 25px;
	cursor: pointer;
}

#resultado p {
	color: #4ea9f8;
}

#alumnoRes, #codigoRes {
	color: white;
}