<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/agregarExamen.css">
    <script src="../static/js/dragdrop.js"></script>
    <script src="../static/js/agregarExamen.js"></script>
    <title>Agregar respuestas a la Base de Datos</title>
</head>

<body>
    <h1>Agrega nuevos examenes:</h1>
    <span id="oculto" style="display: none;"></span>
    <div id="cont">
        <div class="contScan">
            <input type="checkbox" name="esEscaneada" id="esEscaneada" value="1">
            <label for="esEscaneada"><span></span>La imagen es escaneada</label>
        </div>
        <div id="holder" class="acomodador">
            <img src="../static/images/Icono.png" alt="" id="previo">
            Arrastre su archivo hacia aqui.
        </div>
        <span id="obtenereExamen" onclick="obtener_respuestas();">Guardar respuestas de este examen</span>
    </div>

    <div id="respuestasObtenidas" style="display: none;">
        <span id="auxRespuestas" style="display: none;"></span>
    </div>
</body>

</html>