<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/agregarExamen.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <script src="../static/js/dragdrop.js"></script>
    <script src="../static/js/agregarExamen.js"></script>
    <title>Agregar respuestas a la Base de Datos</title>
</head>

<body>
    <div class="win_controls">
        <i id="minimizar" class="demo-icon icon-minus">&#xe805;</i>
        <i id="maximizar" class="demo-icon icon-window-maximize">&#xf2d0;</i>
        <i id="cerrar" class="demo-icon icon-cancel-circled">&#xe801;</i>
    </div>

    <nav id="neobar">
        <div id="logo_principal">
            <img src="../static/images/Icono.png" alt="Icono Repruebainador">
        </div>
        <ul>
            <li><a href="persona.html" class="neobar-link">
                <i class="demo-icon icon-user-circle">&#xf2bd;</i>
            </a></li>
            <li><a href="grupo.html" class="neobar-link">
                <i class="demo-icon icon-group-circled">&#xe803;</i>
            </a></li>
            <li><a href="index.html" class="neobar-link">
                <i class="demo-icon icon-home-circled">&#xe804;</i>
            </a></li>
            <li class="en_curso"><a href="agregarExamen.html" class="neobar-link">
                <i class="demo-icon icon-plus-circled">&#xe800;</i>
            </a></li>
            <li><a href="" class="neobar-link">
                <i class="demo-icon icon-ok-circled">&#xe802;</i>
            </a></li>
        </ul>
    </nav>

    <main>
        <h1>Agrega nuevos examenes:</h1>
        <span id="oculto" style="display: none;"></span>
        <div id="cont">
            <div class="contScan">
                <input type="checkbox" name="esEscaneada" id="esEscaneada" value="1">
                <label for="esEscaneada"><span></span>La imagen es escaneada</label>
            </div>
            <div id="holder" class="acomodador">
                <img src="../static/images/Icono.png" alt="" id="previo">
                Arrastre su archivo hacia aqui.
            </div>
            <span id="obtenereExamen" onclick="obtener_respuestas();">Guardar respuestas de este examen</span>
        </div>
        
        <div id="respuestasObtenidas" style="display: none;">
            <span id="auxRespuestas" style="display: none;"></span>
        </div>
    </main>

    <script src="../static/js/controles_ventana.js"></script>
</body>
    
</html>