<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/agregarExamen.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>Agregar respuestas a la Base de Datos</title>
</head>

<body>
    <div class="win_controls">
        <i id="minimizar" class="demo-icon icon-minus">&#xe805;</i>
        <i id="maximizar" class="demo-icon icon-window-maximize">&#xf2d0;</i>
        <i id="cerrar" class="demo-icon icon-cancel-circled">&#xe801;</i>
    </div>

    <nav id="neobar">
        <div id="logo_principal">
            <img src="../static/images/Icono.png" alt="Icono Repruebainador">
        </div>
        <ul>
            <li><a href="persona.html" class="neobar-link">
                <i class="demo-icon icon-user-circle">&#xf2bd;</i>
            </a></li>
            <li><a href="grupo.html" class="neobar-link">
                <i class="demo-icon icon-group-circled">&#xe803;</i>
            </a></li>
            <li ><a href="index.html" class="neobar-link">
                <i class="demo-icon icon-home-circled">&#xe804;</i>
            </a></li>
            <li class="en_curso"><a href="agregarExamen.html" class="neobar-link">
                <i class="demo-icon icon-plus-circled">&#xe800;</i>
            </a></li>
            <li><a href="words.html" class="neobar-link">
                <i class="demo-icon icon-file-word">&#xf1c2;</i>
            </a></li>
            <li><a href="examenes.html" class="neobar-link">
                <i class="demo-icon icon-th-large">&#xe806;</i>
            </a></li>
        </ul>
    </nav>

    <main>
        <h1>Agrega nuevos examenes:</h1>
        <span id="oculto" style="display: none;"></span>
        <div id="cont">
            <div class="contScan">
                <div class="contArriba">
                    <div id="contenedor_escan">
                        <input type="checkbox" name="esEscaneada" id="esEscaneada" value="1">
                        <label for="esEscaneada"><span></span>La imagen es escaneada</label>
                    </div>
                    <div id="contenedor_columnas">
                        <span>¿De cuantas columnas es el examen?</span>
                        <select id="cantidad_columnas">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <div class="nom_examen">
                    <input type="text" id="nombre_examen" placeholder="¿Que nombre tiene el examen?">
                </div>
            </div>
            <div id="holder" class="acomodador">
                <img src="../static/images/Icono.png" alt="" id="previo">
                <span id="agregar_imagen">Abrir imagen</span>
            </div>
            <span id="obtenereExamen" onclick="obtener_respuestas();">Guardar respuestas de este examen</span>
        </div>
        
        <div id="respuestasObtenidas" style="display: none;">
            <span id="auxRespuestas" style="display: none;"></span>
        </div>
    </main>

    <script src="../static/js/controles_ventana.js"></script>
    <script src="../static/js/agregarExamen.js"></script>
</body>
    
</html>