<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1920, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/examenes.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>Examenes guardados</title>
</head>
<body>
    <div class="win_controls">
        <i id="minimizar" class="demo-icon icon-minus">&#xe805;</i>
        <i id="maximizar" class="demo-icon icon-window-maximize">&#xf2d0;</i>
        <i id="cerrar" class="demo-icon icon-cancel-circled">&#xe801;</i>
    </div>

    <nav id="neobar">
        <div id="logo_principal">
            <img src="../static/images/Icono.png" alt="Icono Repruebainador">
        </div>
        <ul>
            <li><a href="persona.html" class="neobar-link">
                <i class="demo-icon icon-user-circle">&#xf2bd;</i>
            </a></li>
            <li><a href="grupo.html" class="neobar-link">
                <i class="demo-icon icon-group-circled">&#xe803;</i>
            </a></li>
            <li ><a href="index.html" class="neobar-link">
                <i class="demo-icon icon-home-circled">&#xe804;</i>
            </a></li>
            <li class="en_curso"><a href="agregarExamen.html" class="neobar-link">
                <i class="demo-icon icon-plus-circled">&#xe800;</i>
            </a></li>
            <li><a href="words.html" class="neobar-link">
                <i class="demo-icon icon-file-word">&#xf1c2;</i>
            </a></li>
        </ul>
    </nav>

    <main>
        <h1>Examenes guardados:</h1>
        <div id="cont_examenes">
            
        </div>
    </main>
    <script src="../static/js/examenes_guardados.js"></script>
    <script src="../static/js/controles_ventana.js"></script>
</body>
</html>