<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repruebainador</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="titular">
        <h2>Bienvenido a el:</h2>
    </div>
    <div id="menu">
        <h3>¿Que quieres hacer hoy?</h3>
        <div id="submenu">
            <div class="contSubmenu" id="reprobarGrupo">
                <img src="../static/images/group.png" alt="" class="icono">
                <a>Reprobar un grupo</a>
            </div>
            <div class="contSubmenu" id="reprobarPersona">
                <img src="../static/images/person.png" alt="" class="icono">
                <a href="persona.html">Reprobar a una sola persona</a>
            </div>
            <div class="contSubmenu" id="revisarReprobados">
                <img src="../static/images/check.png" alt="" class="icono">
                <a>Revisar grupos reprobados</a>
            </div>
        </div>
    </div>
    <p id="spam">¿Nuevo en este programa? Deberias revisar el <a href="#">manual de usuario</a>.</p>
</body>
</html>
