<!DOCTYPE html>
<html>

<head>
	<title>Proyecto Manhattan</title>
	<link rel="stylesheet" type="text/css" href="../static/css/persona.css">
	<script src="../static/js/persona.js" charset="utf-8"></script>
	<script src="../static/js/dragdrop.js"></script>
</head>

<body>
	<section id="loader">
		<span>Estamos trabajando en ello...</span>
		<img src="../static/images/Icono.png" style="width: 125px">
		<div class="barra-progreso">
			<div class="animacion-barra"></div>
		</div>
	</section>
	<main id="main">
		<a href="index.html"><img src="../static/images/return.png" alt="Regresar" id="return"></a>
		<h1>ESCOGE A TU RETADOR</h1>
		<div class="contenedor">
			<div class="dragDrop">
				<div class="contScan">
					<input type="checkbox" name="esEscaneada" id="esEscaneada" value="1">
					<label for="esEscaneada"><span></span>La imagen es escaneada</label>
				</div>
				<div id="validarExamen" class="">
					<form>
						<input id="idExamen" type="text" placeholder="ID de examen...">
					</form>
					<span id="obtenerExamen" onclick="validarExamen()">VALIDAR</span>
				</div>
				<div id="holder">
					<img src="../static/images/Icono.png" alt="" id="previo">
					Arrastre su archivo hacia aqui.
				</div>

				<span id="oculto" style="display: none;"></span>
				<div id="controles">
					<span id="calcular" onclick="calcular()">CALCULAR</span>
				</div>
			</div>
			<div id="resultado">
				<p>Nombre del alumno: <span id="alumnoRes"></span></p>
				<p>Codigo del alumno: <span id="codigoRes"></span></p>
				<p>Calificación del alumno: <span id="calficRes"></span></p>
			</div>
		</div>
	</main>
</body>

</html>