<!DOCTYPE html>
<html>

<head>
	<title>Proyecto Manhattan</title>
	<link rel="stylesheet" type="text/css" href="../static/css/words.css">
    <link rel="stylesheet" href="../static/css/navbar.css">

	<script src="../static/js/dragdrop.js"></script>
</head>

<body>
	<div class="win_controls">
        <i id="minimizar" class="demo-icon icon-minus">&#xe805;</i>
        <i id="maximizar" class="demo-icon icon-window-maximize">&#xf2d0;</i>
        <i id="cerrar" class="demo-icon icon-cancel-circled">&#xe801;</i>
    </div>

	<nav id="neobar">
        <div id="logo_principal">
            <img src="../static/images/Icono.png" alt="Icono Repruebainador">
        </div>
        <ul>
            <li><a href="persona.html" class="neobar-link">
                <i class="demo-icon icon-user-circle">&#xf2bd;</i>
            </a></li>
            <li><a href="grupo.html" class="neobar-link">
                <i class="demo-icon icon-group-circled">&#xe803;</i>
            </a></li>
            <li><a href="index.html" class="neobar-link">
                <i class="demo-icon icon-home-circled">&#xe804;</i>
            </a></li>
            <li><a href="agregarExamen.html" class="neobar-link">
                <i class="demo-icon icon-plus-circled">&#xe800;</i>
            </a></li>
            <li class="en_curso"><a href="words.html" class="neobar-link">
                <i class="demo-icon icon-file-word">&#xf1c2;</i>
            </a></li>
        </ul>
    </nav>

	<main id="main">
		<h1>LLENE LA DEATH NOTE</h1>
		<div class="contenedor">
			<div id="lista">
                <h3>Primer paso:</h3>
                <h4>Agrega la lista de alumnos.</h4>
                <div class="controles">
                    <img src="../static/images/Icono.png" class="preview">
                    <span id="abrir_lista">Abrir imagen</span>
                </div>
            </div>

            <div id="plantilla" style="display: none;">
                <h3>Segundo paso:</h3>
                <h4>Abre la plantilla.</h4>
                <div class="controles">
                    <img src="../static/images/word.png" class="preview">
                    <span id="abrir_plantilla">Abrir plantilla</span>
                </div>
            </div>
		</div>
        <span id="ocultoLista" style="display: none;"></span>
        <span id="ocultoPlantilla" style="display: none;"></span>
	</main>

	<script src="../static/js/word.js"></script>
    <script src="../static/js/controles_ventana.js"></script>
</body>

</html>